h2 {
  text-align: center;
  color: #5e4b8b;
  margin-bottom: 20px;
  font-size: 2em;
}

.owner-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f3f1f5;
}

.owner-card {
  background: #ffffff;
  border-left: 5px solid #7a57d1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(94, 75, 139, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 20px);
  transition: transform 0.3s ease-in-out;
}

.owner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(94, 75, 139, 0.3);
}

.owner-details {
  margin-bottom: 10px;
}

.owner-name {
  font-size: 1em;
  color: #5e4b8b;
  margin: 5px 0;
}

.owner-name span {
  font-weight: bold;
  color: #7a57d1;
}


@media (max-width: 768px) {
  .owner-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .owner-card {
    width: 100%;
  }
}
